@font-face {
    font-family: "gugi";
    src: url(Gugi-Regular.ttf);
}

@font-face {
    font-family: "BagelFatOne";
    src: url(BagelFatOne-Regular.ttf);
}

@font-face {
    font-family: "BlackHanSans";
    src: url(BlackHanSans-Regular.ttf);
}

@font-face {
    font-family: "Jua";
    src: url(Jua-Regular.ttf);
}
